/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Header */
header {
  background-color: #222;
  color: #fff;
  padding: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #c80d0d;
}

/* Home section */
#home {
  text-align: center;
  padding: 4rem 0;
}

#home h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #c80d0d;
}

#home p {
  font-size: 1.2rem;
}

/* Projects section */
#projects {
  background-color: #fff;
  padding: 3rem 0;
  text-align: center; /* Center project titles and images */
}

.project {
  display: inline-block;
  text-align: center;
  margin: 0 2rem 3rem; /* Add margin for spacing between projects */
}

.project1 {
  text-align: center;
  background-color: #eaa424;
  color:rgb(255, 255, 255)
}

#projects h1 {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}

.project img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #333;
}

/* About section */
#about {
  background-color: #ffffff;
  text-align: center;
  padding: 3rem 0;
}

#about p {
  font-size: 1.2rem;
  color:#5f5f5f
}

.space {
  line-height: 1.4;
}

.p1 {
  line-height: 1.4;
}

.parent {
  padding: 2rem 2rem;  
  text-align: center;
}

.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align:middle;
  max-width: 50%
}

.child img {
  max-width: 60%;
  height: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Contact section */
#contact {
  padding: 2rem;
  text-align: center;
}

ul.list {
  display: inline-block;
}

.list li {
  display: inline;
  float: left;
  padding: 50px;
  text-align: center;
}

#contact p {
  font-size: 1.2rem;
}

/* Footer */
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
