/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Header */
header {
  background-color: #222;
  color: #fff;
  padding: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #c80d0d;
}

/* Home section */
#home {
  text-align: center;
  padding: 4rem 0;
}

#home h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #c80d0d;
}

#home p {
  font-size: 1.2rem;
}

/* Projects section */
#projects {
  background-color: #fff;
  text-align: center; /* Center project titles and images */
}

.project {
  display: inline-block;
  text-align: center;
  margin: 0 2rem 3rem; /* Add margin for spacing between projects */
}

.project1 {
  text-align: center;
  background-color: #c0780e;
  padding-top: 1rem;
  color:rgb(255, 255, 255)
}

.project2 {
  text-align: center;
  background-color: #058eb0;
  padding-top: 1rem;
  color:rgb(255, 255, 255)
}

#projects h1 {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}

.project1 img {
  max-width: 50%;
  height: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project2 img {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #333;
}

#timeline {
  background-color: #ffffff;
  padding: 3rem 0;
}

#timeline h1 {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
  text-align: center;
  background-color: #a00d0d;
  color: #f5f5f5;
  padding: 1rem;
}

#Enhancements {
  background-color: #ffffff;
  padding: 3rem 0;
}

#Enhancements h1 {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
  text-align: center;
  background-color: #a00d0d;
  color: #f5f5f5;
  padding: 1rem;
}

/* About section */
#about {
  background-color: #ffffff;
  text-align: center;
  padding: 3rem 0;
}

#about p {
  font-size: 1.2rem;
  color:#5f5f5f
}

.chart-container {
  position: relative;
  width:500px; /* Adjust as per image size */
  height: 500px;
  margin: auto;
  background-image: url('media/gdmi-radial.png');
  background-size: cover;
  transition: background-image 0.3s ease-in-out;
}

.chart-container:hover {
  /* background-image: url("media/highlight-digital.png"); */
}

.chart-container img {
  width: 100%;

}

.test {
  width: 500px; /* Specify the width */
  height: 500px; /* Specify the height */
  margin: auto;
  background-image: url('media/gdmi-radial.png');
  background-size: cover;
  /* background-color: #058eb0; */
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
polygon {
  fill: transparent;
  cursor: pointer;
}

#slides {
  background-color: #ffffff;
  text-align: center;
  padding: 3rem 0;
}

.space {
  line-height: 1.4;
  padding: 1rem;
}

.p1 {
  line-height: 1.4;
  width: 50%;
  margin: auto;
  padding: 0.5rem;
  font-size: large;
  text-align: center;

}

.parent {
  padding: 2rem;  
  display: inline-flex
}

.child {
  vertical-align:middle;
  max-width: 50%;
  margin: auto;
}

.emotion_list {
  height: auto;
  width: fit-content;
}

.container {
  display: flex;
  align-items: center; /* Vertically center items */
  margin-bottom: 20px; /* Add spacing between projects */
  text-align: right;
  padding-left: 20rem;
  padding-right: 20rem;
}

.container img {
  max-width: 100%; /* Adjust image width as needed */
  height: auto;
  margin-right: 20px; /* Add spacing between image and text */
}

.container p {
  font-size: 1rem;
}

.child img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.child1 img {
  max-width: 60%;
  height: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: -1rem;
}

/* Contact section */
#contact {
  background-color: #dadada;
  padding-top: 2rem;
  text-align: center;
}

ul.list {
  display: inline-block;
}

.list li {
  display: inline;
  float: left;
  padding: 50px;
  text-align: center;
}

#contact p {
  font-size: 1.2rem;
}

/* Footer */
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}


/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 2rem;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.summary {
  padding: 2rem;
}

.summary img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.enhancements img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.side-text {
  font-size: 3rem;
  /* background-color: #d9d2e9; */
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  position: absolute;
  /* left: 0; */
  /* transform-origin: left center; */
  flex: 1;
  outline: auto;
  width: 17.5%;
}

.intellectual-content {
  background-color: #d9d2e9;
  padding: 3rem;
  /* margin-left: 5.5rem; */
  flex: 4;
  width: 40%;
  
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intellectual-header {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #6a329f;
  font-size: 2rem;
  padding: 1rem;
}

.social-content {
  background-color: #fff2cc;
  padding: 3rem;
  /* margin-left: 5.5rem; */
  flex: 4;
  width: 40%;
}

.social-header {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #f1c232;
  font-size: 2rem;
  padding: 1rem;
}

.digital-content {
  background-color: #d0e0e3;
  padding: 3rem;
  /* margin-left: 5.5rem; */
  flex: 4;
  width: 40%;
}

.digital-header {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #2986cc;
  font-size: 2rem;
  padding: 1rem;
}

.psych-skill {
  background-color: #f2d5dd;
  padding: 3rem;
  /* margin-left: 5.5rem; */
  flex: 4;
  width: 20%;
}
.psych-content {
  background-color: #f2d5dd;
  padding: 3rem;
  /* margin-left: 5.5rem; */
  flex: 4;
  width: 40%;
}

.psych-header {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #f4366d;
  font-size: 2rem;
  padding: 1rem;
}


.hidden {
  display: none;
}

.visible {
  display: block;
}

.code {
  padding-left: 8rem;
  padding-right: 8rem;
}

.leader-intro {
  max-width: fit-content;
  min-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem;
}

.indent {
  margin-left: 2rem;
}

.space {
  height: 5rem;
}

.img-container {
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.img-container img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: block;
    margin: auto;
    width: 100%;
}

.heading {
  margin-bottom: 0.5rem;
  text-align: center;
  background-color: #a00d0d;
  color: #f5f5f5;
  padding: 1rem;
  
}

pre {
  background: #152028;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #dadada;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
